:root {
    --text-grey: #808080;
    --text-black: #333;
    --grey-border: #dddddd;
}

.product-box{
    background-color: white;
    /* height:600px; */
    border-radius: 15px;
    overflow: hidden;
}

.product-content{
    height: 730px;
    color: var(--text-grey);
}

.orange-header{
    background-color: orange;
    height: 50px;
    border-radius: 15px 15px 0 0;
}

/* Add product section */
.media-placeholder{
    border: 2px dashed var(--grey-border);
    height: 200px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-image{
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative;
}

.selected-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.close-btn{
    border: none;
    padding: 3px 10px 8px 10px;
    border-radius: 20px;
    position: absolute;
    right:10px;
    box-shadow: 0 0 10px rgb(131, 131, 131, 0.8);
}

.product-price input{
    max-width: 300px
}

.product-box input::placeholder, .product-box textarea::placeholder{
    color:#b6b6b6;
}

.product-box textarea{
    resize: none;
}

.product-list-wrapper{
    height: 630px;
    overflow-y: scroll;
    padding-right: 15px;
}

/* Product list section */

.image-picker{
    position: absolute;
    background-color: #ebebeb;
    padding: 30px;
    border-radius: 15px;
    padding-top:10px;
    box-shadow: 0 0 20px rgb(131, 131, 131, 0.8);
}

.image-picker .image-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 20px;
    width: 500px;
}

.image-picker .image-grid .image-item{
    border-radius: 10px;
    background-color: #b1b1b1;
    overflow: hidden;
}

.image-picker .image-grid .image-item img{
    width: 100%;
}

.image-picker h3{
    margin: 0 0 20px;
}
