:root {
    --text-grey: #808080;
    --text-black: #333;
    --grey-border: #dddddd;
}

.product-box{
    background-color: white;
    /* height:600px; */
    border-radius: 15px;
    overflow: hidden;
}

.product-content{
    height: 700px;
    color: var(--text-grey)
}

.orange-header{
    background-color: orange;
    height: 50px;
    border-radius: 15px 15px 0 0;
}

/* Add product section */
.media-placeholder{
    border: 2px dashed var(--grey-border);
    height: 200px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-price input{
    max-width: 300px
}

.product-box input::placeholder, .product-box textarea::placeholder{
    color:#b6b6b6;
}

.product-box textarea{
    resize: none;
}

/* Product list section */

.p-details{
    font-size: small;
}

.p-image{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}